<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="header-wrapper">
        <div class="head-item">
            <a class="home" href="/">MEMBERS MESSAGE BORAD</a>
        </div>
    </div>
    <div class="form-wrapper">
        <form action="/log-in" method="POST">
            <div class="row-wrap">
                <label for="username">Username</label>
                <input name="username" type="text" />
            </div>
            <div class="row-wrap">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <button>Log In</button>
        </form>
    </div>
</body>

</html>